{% extends 'base.html' %}

{% block content %}


<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="chat-history">
        {% for message in messages %}
                <div class="{% if message.type == 'ai'%} chat-row  {% else %} row-reverse {% endif %}">
                    <img class="chat-icon" src="{{ url_for('static',filename='img/' ~ ('chatbot.png' if message.type == 'ai' else 'user_icon.png')) }}"width=32 height=32>
                    <div class="chat-bubble {% if message.type == 'ai'%} ai-bubble  {% else %} human-bubble {% endif %}">
                        &#8203;{{message.content | replace('\n', '<br>') |safe}}
                    </div>
                </div>
        {% endfor %}
    </div>
    <hr>
    <form action="{{ url_for('chatbot') }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.question.label(class="form-label") }}
        {{ form.question(class="form-control") }}

        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>


{% endblock %}