{% extends 'base.html' %}

{% block content %}


<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="chat-history">
        {% for message in messages %}
                <div class="{% if message.type == 'ai'%} chat-row  {% else %} row-reverse {% endif %}">
                    <img class="chat-icon" src="{{ url_for('static',filename='img/' ~ ('chatbot.png' if message.type == 'ai' else 'user_icon.png')) }}"width=32 height=32>
                    <div class="chat-bubble {% if message.type == 'ai'%} ai-bubble  {% else %} human-bubble {% endif %}">
                        &#8203;{{message.content | replace('\n', '<br>') |safe}}
                    </div>
                </div>
        {% endfor %}
    </div>
    <hr>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.question.label(class="form-control-label") }}
            {% if form.question.errors %}
                {{form.quesion(class="form-control is-invalid")}}
                {% for error in form.question.errors %}
                    <div class="invalid feedback">
                        <span>{{error}}</span>
                    </div>
                {% endfor %}
            {% else %}
                {{ form.question(class="form-control") }}
            {% endif %}
        <br/>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-info") }}
        </div>           
    </fieldset>   
</form>
</div>


{% endblock %}